Import libraries

In [2]:
import requests
import time
import pandas as pd

test connection

In [ ]:
test_url = "https://api.magicthegathering.io/v1/cards"

test_response = requests.get(test_url)

print(f"status code: {test_response.status_code}")

test_result = test_response.json()

status code: 200

prepare empty list

In [3]:
multiverseids = []
names = []
types = []
rarities = []
setNames = []
manaCosts = []

request data & create data frame

In [7]:
import requests
import time
import pandas as pd

multiverseids = []
names = []
types = []
rarities = []
setNames = []

for id in range(1, 10):
    url = f"https://api.magicthegathering.io/v1/cards/{id}"
    response = requests.get(url)
    results = response.json()
    card = results['card']  # Access the correct key 'card' in the response
    multiverseids.append(card['multiverseid'])
    names.append(card['name'])
    types.append(card['type'])
    rarities.append(card['rarity'])
    setNames.append(card['setName'])

    time.sleep(1)

dota_hero_list = pd.DataFrame({
    'multiverseid': multiverseids,
    'name': names,
    'type': types,
    'rarity': rarities,
    'setName': setNames,
})

In [8]:
dota_hero_list

,multiverseid,name,type,rarity,setName
0,1,Ankh of Mishra,Artifact,Rare,Limited Edition Alpha
1,2,Basalt Monolith,Artifact,Uncommon,Limited Edition Alpha
2,3,Black Lotus,Artifact,Rare,Limited Edition Alpha
3,4,Black Vise,Artifact,Uncommon,Limited Edition Alpha
4,5,Celestial Prism,Artifact,Uncommon,Limited Edition Alpha
5,6,Chaos Orb,Artifact,Rare,Limited Edition Alpha
6,7,Clockwork Beast,Artifact Creature — Beast,Rare,Limited Edition Alpha
7,8,Conservator,Artifact,Uncommon,Limited Edition Alpha
8,9,Copper Tablet,Artifact,Uncommon,Limited Edition Alpha