In [2]:
install.packages("nycflights13")

library(tidyverse)
library(nycflights13)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.2
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [5]:
#assign individual databases from nycflights13 to variables
flights <- nycflights13::flights
airlines <- nycflights13::airlines
airports <- nycflights13::airports
planes <- nycflights13::planes
weather <- nycflights13::weather

In [6]:
glimpse(flights)
cat("\n")
glimpse(airlines)
cat("\n")
glimpse(airports)
cat("\n")
glimpse(planes)
cat("\n")
glimpse(weather)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 0…

Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

Rows: 1,458
Columns: 8
$ faa   <chr> "04G", "06A", "06C", "06N", "09J", "0A9", "0G6", "0G7", "0P2", "…
$ name  <chr> "Lansdowne Airport", "Moton Field Municipal Airport", "Schaumbur…
$ lat   <dbl> 41.13047, 32.46057, 41.98934, 41.43191, 31.07447, 36.37122, 41.4…
$ lon   <dbl> -80.61958, -85.68003, -88.10124, -74.39156, -81.42778, -82.17342…
$ alt   <dbl> 1044, 264, 801, 523, 11, 1593, 730, 492, 1000, 108, 409, 875, 10…
$ tz    <dbl> -5, -6, -6, -5, -5, -5, -5, -5, -5, -8, -5, -6, -5, -5, -5, -5, …
$ dst   <chr> "A", "A", "A", "A", "A", "A", "A", "A", "U", "A", "A", "U", "A",…
$ tzone <chr> "America/New_York", "America/Chicago", "America/Chicago", "Ameri…

Rows: 3,322
Columns: 9
$ tailnum      <chr> "N10156", "N102UW", "N103US", "N104UW", "N10575", "N105UW…
$ year         <int> 2004, 1998, 1999, 1999, 2002, 1999, 1999, 1999, 1999, 199…
$ type         <chr> "Fixed wing multi engine", "Fixed wing multi engine", "Fi…
$ manufacturer <chr> "EMBRAER", "AIRBUS INDUSTRIE", "AIRBUS INDUSTRIE", "AIRBU…
$ model        <chr> "EMB-145XR", "A320-214", "A320-214", "A320-214", "EMB-145…
$ engines      <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ seats        <int> 55, 182, 182, 182, 55, 182, 182, 182, 182, 182, 55, 55, 5…
$ speed        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ engine       <chr> "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turb…

Rows: 26,115
Columns: 15
$ origin     <chr> "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EW…
$ year       <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,…
$ month      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ day        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ hour       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, …
$ temp       <dbl> 39.02, 39.02, 39.02, 39.92, 39.02, 37.94, 39.02, 39.92, 39.…
$ dewp       <dbl> 26.06, 26.96, 28.04, 28.04, 28.04, 28.04, 28.04, 28.04, 28.…
$ humid      <dbl> 59.37, 61.63, 64.43, 62.21, 64.43, 67.21, 64.43, 62.21, 62.…
$ wind_dir   <dbl> 270, 250, 240, 250, 260, 240, 240, 250, 260, 260, 260, 330,…
$ wind_speed <dbl> 10.35702, 8.05546, 11.50780, 12.65858, 12.65858, 11.50780, …
$ wind_gust  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 20.…
$ precip     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ pressure   <dbl> 1012.0, 1012.3, 1012.5, 1012.2, 1011.9, 1012.4, 1012.2, 101…
$ visib      <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,…
$ time_hour  <dttm> 2013-01-01 01:00:00, 2013-01-01 02:00:00, 2013-01-01 03:00…

Q1 least popular destination during the first quarter of the year

In [7]:
flights %>%
	filter(!is.na(dep_time), year == 2013, month %in% c(1,2,3)) %>%
	select(year, month, dest) %>%
  group_by(year, month, dest) %>%
  summarise(n_flights = n()) %>%
  arrange(n_flights) %>%
  head(5) %>%
  inner_join(airports %>%
                select(faa, name),
              by = c("dest" = "faa"))

`summarise()` has grouped output by 'year', 'month'. You can override using the
`.groups` argument.

  year month dest n_flights name
1 2013 1     EYW  1         Key West Intl
2 2013 1     AVL  2         Asheville Regional Airport
3 2013 1     JAC  2         Jackson Hole Airport
4 2013 2     JAC  2         Jackson Hole Airport
5 2013 3     BGR  2         Bangor Intl

Q2 airlines with most departure delay (on Christmas 2013)

In [8]:
flights %>%
  filter(year == 2013, month == 12, day == 25) %>%
  select(carrier, dep_delay) %>%
  arrange(desc(dep_delay)) %>%
  head(5) %>%
  inner_join(airlines, by = "carrier")

  carrier dep_delay name
1 EV      321       ExpressJet Airlines Inc.
2 EV      251       ExpressJet Airlines Inc.
3 DL      234       Delta Air Lines Inc.
4 UA      198       United Air Lines Inc.
5 DL      193       Delta Air Lines Inc.

Q3 airline with least cancelled flights (compared to total flights)

In [9]:
na_deptime <- flights %>%
  filter(is.na(dep_time)) %>%
  group_by(carrier) %>%
  summarise(cancelled_flights = n())

flights %>%
  inner_join(airlines, by = "carrier") %>%
  group_by(carrier, name) %>%
  select(carrier, name) %>%
  summarise(scheduled_flights = n()) %>%
  inner_join(na_deptime, by = "carrier") %>%
  mutate(cancelled_flights_proportion =
    round((cancelled_flights/scheduled_flights), 4)) %>%
  arrange(cancelled_flights_proportion) %>%
  head(5)

`summarise()` has grouped output by 'carrier'. You can override using the
`.groups` argument.

  carrier name                   scheduled_flights cancelled_flights
1 AS      Alaska Airlines Inc.     714               2
2 F9      Frontier Airlines Inc.   685               3
3 VX      Virgin America          5162              31
4 DL      Delta Air Lines Inc.   48110             349
5 B6      JetBlue Airways        54635             466
  cancelled_flights_proportion
1 0.0028
2 0.0044
3 0.0060
4 0.0073
5 0.0085

Q4 most used airplane (based from tail number)

In [10]:
flights %>%
  filter(!is.na(dep_time)) %>%
  group_by(tailnum) %>%
  select(carrier, tailnum) %>%
  summarise(departed_flights = n()) %>%
  arrange(desc(departed_flights)) %>%
  head(5)

  tailnum departed_flights
1 N725MQ  546
2 N722MQ  487
3 N723MQ  480
4 N711MQ  467
5 N713MQ  455

Q5 most popular airplane manufacturer among airlines

In [11]:
planes %>%
  select(tailnum, manufacturer) %>%
  group_by(manufacturer) %>%
  summarise(no_of_airplanes = n()) %>%
  arrange(desc(no_of_airplanes)) %>%
  head(5)

  manufacturer     no_of_airplanes
1 BOEING           1630
2 AIRBUS INDUSTRIE  400
3 BOMBARDIER INC    368
4 AIRBUS            336
5 EMBRAER           299